<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>





<table>
  <tr>
    <th>Teach</th>
    <th>Study</th>
    <th>Conversation</th>
    <th>Day</th>
    <th>User</th>
    <th>djdj</th>
    <th></th>
    <th></th>
  </tr>

<% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= timesheet.teacher %></td>
    <td><%= timesheet.study %></td>
    <td><%= timesheet.conversation %></td>
    <td><%= timesheet.day %></td>
    <td><%= link_to 'Show', @user_timesheet_path %></td>
    <td><%= link_to 'Edit', edit_user_timesheet_path(@user, timesheet) %></td>
    <td><%= link_to 'Destroy', [@user, timesheet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timesheet', new_user_timesheet_path(@user) %>

