<% if user_signed_in? %>
	<div class="page-header">
	 <h1>Word of the day <small><i><%= Date.today.strftime("%B %-d, %Y")%></i></small></h1>
	 <small><i></small></i></h1>
	</div>


<h3><div class="span6 text-center pull-left"><%= @khmer %> </div></h3>
<h3><div class="span6 text-center pull-right"><%= @english %></div></h3>

<div class="span12">
<div id="sentences">
<p><b>Khmer Sentence:</b> <%= @khmersentence %></p>
<p><b>English Translation:</b> <%= @englishsentence %></p>
</div>
</div>



<% else %>
	<div class="hero-unit text-center">
		<h1>Language Timesheet Tracker</h1>
			It is time to log those hours.<br><br>
				<div class="btn btn-large">
					<%= link_to "Log In", new_user_session_path %>
				</div>
	</div>
<% end %>