<% if user_signed_in? %>
	<div class="page-header">
	 <h1>Welcome back, <i><%= @name %>!</i>
	 <small><i>Here is your word of the day.</i></small></h1>
	 <small><i></small></i></h1>
	</div>


<h3><div class="span3 offset2 text-center word"><%= @khmer %> </div></h3>
<h3><div class="span3 offset2 text-center word"><%= @english %></div></h3>

<div class="span12">
<div id="sentences">
<ul class="nav">
<li><h4>Khmer Sentence:</h4> 
<h5><%= @khmersentence %></h5></li>
<li><h4>Phonetics:</h4>
<h5> <%= @phonetic %></h5></li>
<li><h4>English Translation:</h4>
<h5> <%= @englishsentence %></h5></li>
</ul>
</div>
</div>



<% else %>
	<div class="hero-unit text-center">
		<h1>Language Timesheet Tracker</h1>
			It is time to log those hours.<br><br>
				<div class="btn btn-large">
					<%= link_to "Log In", new_user_session_path %>
				</div>
	</div>
<% end %>