<% if user_signed_in? %>
	<div class="page-header">
	 <h1>Welcome back, <i><%= @name %>!</i>
	 <small><i>Here is your word of the day.</i></small></h1>
	 <small><i></small></i></h1>
	</div>


<h3><div class="span3 offset2 text-center word"><%= @khmer %> </div></h3>
<h3><div class="span3 offset2 text-center word"><%= @english %></div></h3>

<div class="span12">
<div id="sentences">

<li><h4>Khmer Sentence: <%= @khmersentence %></h4></li>
<li><h4>Phonetics: <%= @phonetic %></h4></li>
<li><h4>English Translation: <%= @englishsentence %></h4></li>
</div>
</div>



<% else %>
	<div class="hero-unit text-center">
		<h1>Language Timesheet Tracker</h1>
			It is time to log those hours.<br><br>
				<div class="btn btn-large">
					<%= link_to "Log In", new_user_session_path %>
				</div>
	</div>
<% end %>