<%= simple_form_for([@user, @timesheet]) do |f| %>
  <%= render 'error_messages' %>


  <div class="form-inputs">
    <%= f.input :day, :as => :string, :input_html => { :class => 'datepicker'} %>
    <%= f.input :day, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
    <%= f.input :teacher %>
    <%= f.input :study %>
    <%= f.input :conversation %>
    



  </div>

  <div class="form-actions">
    <%= f.button :submit%>
  </div>
<% end %>
