<div class="progress progress-success">
<% if @user.has_role?(:new_staff) %>
	<% if @progresshoursnewstaff < 99.9 %>
		<div class="bar" style="width: <%= @progresshoursnewstaff %>%;"><%= @progresshoursnewstaff %>% Completed</div>
	<% else %>
		<div class="bar" style="width: 100%;"><%= @progresshoursnewstaff %>% Completed</div>
		<% end %>

	<% else %>
		<% if @progresshours < 99.9 %>
			<div class="bar" style="width: <%= @progresshours %>%;"><%= @progresshours %>% Completed</div>
		<% else %>
			<div class="bar" style="width: 100%;"><%= @progresshours %>% Completed</div>
	<% end %>
<% end %>
</div>


