<div class="page-header">
  <h1>Language Timesheet <small><i><%= @hours %> Hours studied this week</small></i></h1>
</div>
<div class ="row-fluid">
<div class="span5"><ul class="nav pull-left nav-pills">
  <li class="active"><%= link_to 'This Week', main_app.user_timesheets_path(@user, @timesheet) %></li>
     <li><%= link_to 'Last Week', main_app.lastweek_user_timesheets_path(@user, @timesheet) %></li>
     <li><%= link_to 'All Weeks', main_app.all_user_timesheets_path(@user, @timesheet) %></li>
    </ul>
  </li>
</ul>
</div>
<div class="span7"><br>
<%= render 'timesheets/progressbar' %>
</div>

</div>









<table class="nicetable table-condensed">  
<tr>
    
    <th>Day of Week</th>
    <th>Teacher</th>
    <th>Study</th>
    <th>Conversation</th>
    <th>Date</th>
    <th>Date Posted</th>
    <th>Actions</th>
  </tr>
 </thead>
  <tbody>
<% @timesheets.each do |timesheet| %>
  <tr>
    
    <td><%= timesheet.day.strftime("%A") %></td>
    <td><%= timesheet.teacher %></td>
    <td><%= timesheet.study %></td>
    <td><%= timesheet.conversation %></td>
    <td><%= timesheet.day.strftime("%B %d, %Y") %></td>
    <td><%= time_ago_in_words(timesheet.created_at) %> ago</td>
  <td><%= link_to 'Edit', edit_user_timesheet_path(@user, timesheet), :class => "btn btn-mini" %>    <%= link_to 'Delete', [@user, timesheet], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
    </tr>
<% end %>
</tbody>
</table>
 <div class="span4 pull-right" style="text-align:right">
         <%= paginate @timesheets %>
      </div>
    
<br />



<%= link_to 'New Timesheet', new_user_timesheet_path, :class => "btn" %><br><br><br><br>



