<h1>Hours Studied</h1>

<table class="table table-condensed">  
<tr>
    <th>Teacher</th>
    <th>Study</th>
    <th>Conversation</th>
    <th>Day</th>
    <th>Date Posted</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 </thead>
  <tbody>
<% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= timesheet.teacher %></td>
    <td><%= timesheet.study %></td>
    <td><%= timesheet.conversation %></td>
    <td><%= timesheet.day %></td>
    <td><%= time_ago_in_words(timesheet.created_at) %> ago</td>
  <td><%= link_to 'Show', user_timesheet_path(@user, timesheet) %></td>
    <td><%= link_to 'Edit', edit_user_timesheet_path(@user, timesheet) %></td>
    <td><%= link_to 'Destroy', [@user, timesheet], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
    </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Timesheet', new_user_timesheet_path(@user), :class => "btn btn-primary" %>
