<%= simple_form_for(@word) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :khmer %>
    <%= f.input :english_phonetic, label: "English Phonetic" %>
    <%= f.input :english %>
    <%= f.input :khmersentence, label: "Khmer Sentence" %>
    <%= f.input :phonetic,label: "Phonetic Sentence" %>
    <%= f.input :englishsentence, label: "English Sentence" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
