<% if user_signed_in? %>
<ul class="nav pull-left">
<li><%= link_to 'Home', main_app.root_path %></li>
<li><%= link_to 'Activity Feed', main_app.activities_path %></li>
<li class="dropdown">
<%= link_to 'Timesheets <b class="caret"></b>'.html_safe, main_app.user_timesheets_path(current_user, @timesheet),:data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle"%>
    <ul class="dropdown-menu">
     <li><%= link_to '<i class="icon-list-alt"></i> This Week'.html_safe, main_app.user_timesheets_path(current_user, @timesheet) %></li>
     <li><%= link_to '<i class="icon-th-large"></i> Last Week'.html_safe, main_app.lastweek_user_timesheets_path(current_user, @timesheet) %></li>
     <li><%= link_to '<i class="icon-th"></i> All Weeks'.html_safe, main_app.all_user_timesheets_path(current_user, @timesheet) %></li>
     </ul>
<li><%= link_to 'Forum', main_app.forem_path %></li>
<li class="dropdown">
<%= link_to 'Resources <b class="caret"></b>'.html_safe, nil, :data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle"%>
    <ul class="dropdown-menu">
     <li><%= link_to '<i class="icon-circle-arrow-right"></i> Goals & Objectives'.html_safe, main_app.resources_goals_path %></li>
     <li><%= link_to '<i class="icon-inbox"></i> Anki Flashcards'.html_safe, main_app.resources_anki_path %></li>
     <li><%= link_to '<i class="icon-text-width"></i> Installing Khmer Font'.html_safe, main_app.resources_khmerfont_path %></li>
     </ul>
</ul>

<% end %>


<ul class="nav pull-right">

<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', main_app.users_path %>
      </li>
    <% end %>
 <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.name %> <b class="caret"></b></a>
     <ul class="dropdown-menu">
        <li><%= link_to '<i class="icon-cog"></i> Preferences'.html_safe, main_app.edit_user_registration_path %></li>
        <li><%= link_to '<i class="icon-off"></i> Logout'.html_safe, main_app.destroy_user_session_path, :method => 'delete'%></li>
      </ul>

  <% else %>
    <li>
    <%= link_to 'Sign up', main_app.new_user_registration_path %>
    <li>
    <%= link_to 'Login', main_app.new_user_session_path %>
    </li>
    </li>
  <% end %>
</ul>
