<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
          <ul class="nav nav-list">
              <li class="nav-header">User Menu</li>
              <li><%= link_to "Home", "/path1"  %></li>
              <li><%= link_to "Statistics", "/path2"  %></li>
              <li><%= link_to "Resources", "/path3"  %></li>
              <li><%= link_to "FAQ's", "/path3"  %></li>

            </ul>
            <%= render 'layouts/admin' %>
          </div><!--/.well -->
        </div><!--/span-->
        